* {
  margin: 0;
  padding: 0;
}
.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 9);
  display: flex;
  flex-wrap: wrap;
  border: solid 1px sienna;
}
.cell {
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cellEdge {
  height: 32px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 1px bisque;
  border-bottom: solid 1px bisque;
  background-color: sienna;
  color: bisque;
}
.black {
  background-color: sienna;
}
.white {
  background-color: bisque;
}
.selected {
  background-color: red;
}
.avaliable {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: burlywood;
}
.avaliableFigure {
  background-color: green;
}
